body {
    margin-top: 3cm;
}

#content,
.content {
    border-spacing: 0;
    font-size: 10px;
    width: 100%;
    vertical-align: top;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.item-head {
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
}

.last-item-head {
    background-color: #EEEEEE;
    border: 1px solid #000000;
}

.page-break {
    page-break-after: always;
}

.w-5 {
    width: 5%;
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-30 {
    width: 30%;
}

.w-50 {
    width: 50%;
}

.pl-5px {
    padding-left: 5px;
}

.h-15px {
    height: 15px;
}

.bg-warning {
    background-color: #ffc107!important;
}

element.style {
    width: 90px;
    height: 20px;
    font-size: 12px;
}

.bg-warning,
.bg-warning>a {
    color: #1f2d3d!important;
}

.bg-warning {
    background-color: #ffc107!important;
}

.bg-warning {
    background-color: #ffc107!important;
}

.bg-info {
    background-color: #17a2b8!important;
}

.bg-light {
    background-color: #EEEEEE;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

td.collumn-left,
td.collumn-right {
    padding: 5px;
}

.collumn-left {
    width: 370px;
}

.collumn-right {
    width: 365px;
}